apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-static
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-static
  template:
    metadata:
      labels:
        app: nginx-static
    spec:
      containers:
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: static-files
              mountPath: /usr/share/nginx/html
      volumes:
        - name: static-files
          persistentVolumeClaim:
            claimName: nginx-nfs-pvc
