upstream backend {
    {% for server in backend_servers %}
    server {{ server }}:{{ backend_port }};
    {% endfor %}
}

server {
    listen 80;
    server_name {{ nginx_domain }};

    location / {
        proxy_pass http://backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
